<div class="buttons">
    <ul>
        <li><a class="github-button" href="https://github.com/php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com/issues" data-icon="octicon-star" data-show-count="true" aria-label="Issue php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com on GitHub">Issue</a></li>  
        <li><a class="github-button" href="https://github.com/php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com on GitHub">Fork</a></li>
        <li><a class="github-button" href="https://github.com/php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Star php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com on GitHub">Star</a></li>
        <li><a class="github-button" href="https://github.com/php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch php-is-the-best-language-in-the-world/php-is-the-best-language-in-the-world.com on GitHub">Watch</a></li>
    </ul>
</div>

<div class="i18n">
    <ul>
        <li><a href="/">English</a></li>
        <li><a href="/i18n/zh-Hans">简体中文</a></li>
    </ul>
</div>